In [1]:
import pandas as pd
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import nltk
import re

In [2]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Rudra
[nltk_data]     Thakar\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [7]:
df = pd.read_csv('C:/Users/Rudra Thakar/Downloads/updated_dummyData.csv')
df.head()

,Serial No.,News Title,News Body,Media House,Author,True/False,Sentiment
0,1,Government plans to ban all social media apps ...,Government plans to ban all social media apps ...,NDTV,Ravish Kumar,False,Political News
1,2,India and China reach new trade agreements,India and China reach new trade agreements. In...,NDTV,Barkha Dutt,True,International News
2,3,"New evidence suggests the world is flat, scien...","New evidence suggests the world is flat, scien...",CNN,Rajdeep Sardesai,False,International News
3,4,India introduces new education reforms to impr...,India introduces new education reforms to impr...,Times Now,Arnab Goswami,True,Regional News
4,5,India’s richest man pledges to donate billions...,India’s richest man pledges to donate billions...,Aaj Tak,Anjana Om Kashyap,True,Regional News

In [8]:
def preprocess_text(text):
    text = text.lower()  # Convert to lowercase
    text = re.sub(r'\d+', '', text)  # Remove numbers
    text = re.sub(r'[^\w\s]', '', text)  # Remove punctuation
    text = re.sub(r'[<…]+', '', text)  # Remove special characters
    stop_words = set(stopwords.words('english'))
    text = ' '.join(word for word in text.split() if word not in stop_words)  # Remove stopwords
    ps = PorterStemmer()
    text = ' '.join(ps.stem(word) for word in text.split())  # Stemming
    text = ' '.join(text.split())  # Remove extra whitespaces
    return text

In [11]:
df['News Title'] = df['News Title'].apply(preprocess_text)
df['News Content'] = df['News Body'].apply(preprocess_text)
df['Combined Text'] = df['News Title'] + ' ' + df['News Content']
df['Classification'] = df['True/False'].map({True: 1, False: 0})
df = df.drop(["News Body", "True/False"], axis=1)

In [14]:
df.to_csv('preprocessed_dataset.csv', index=False)
df.head()

,Serial No.,News Title,Media House,Author,Sentiment,News Content,Combined Text,Classification
0,1,govern plan ban social media app india,NDTV,Ravish Kumar,Political News,govern plan ban social media app india recent ...,govern plan ban social media app india govern ...,0
1,2,india china reach new trade agreement,NDTV,Barkha Dutt,International News,india china reach new trade agreement recent d...,india china reach new trade agreement india ch...,1
2,3,new evid suggest world flat scientist baffl,CNN,Rajdeep Sardesai,International News,new evid suggest world flat scientist baffl re...,new evid suggest world flat scientist baffl ne...,0
3,4,india introduc new educ reform improv learn,Times Now,Arnab Goswami,Regional News,india introduc new educ reform improv learn re...,india introduc new educ reform improv learn in...,1
4,5,india richest man pledg donat billion chariti,Aaj Tak,Anjana Om Kashyap,Regional News,india richest man pledg donat billion chariti ...,india richest man pledg donat billion chariti ...,1